body {
    background: rgb(4, 4, 70);
}
h1 {
    color: white;
    text-align: center;
}
h2{
    margin-left: 50px;
    color: rgb(127, 132, 143);
    text-align: center;
}

h4{
    color:rgb(179, 192, 219);
    margin-left: 50px;
    text-align: center;
    margin-top: 100px;
}
p{
    color: white;
    margin-left: 50px;
    text-align: center;
}
.art {
    height: 50px;
    width: 100px;
}
img{
    max-width: 500px;
    max-height: 500px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 725px;
    margin-top: 50px;
    margin-bottom: 0px;
    border-radius: 3rem 3rem 3rem 3rem;
    
     
}
.dropdown-menu {
    background: white;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.nav-item {
    border-color:rgb(4, 4, 70);
    margin: 0%;
    
}

.navbar-light .navbar-nav .nav-link {
    color: blue;
}

.navbar-light .navbar-nav .nav-link.active {
    color: blue;
}

.footer{
    margin-left: 30px;
    margin-top: 250px;
    flex-wrap: wrap;
}

/*made profile pic adjust to mobile*/

@media screen and (max-width: 1140px) {
    header {
      background-color: darkolivegreen;
    }
    img {
        margin: 0px;
        max-height: 400px;
        max-width: 400px;
    }
  }
  
  @media screen and (max-width: 768px) {
    img {
      margin: 0px;
      max-height: 200px;
      max-width: 200px;
    }
  }
  
  @media screen and (max-width: 500px) {
    img {
        margin: 0px;
        max-height: 100px;
        max-width: 100px;
    }
    a#navbarDropdownMenuLink.nav-link.dropdown-toggle {
        height:50px;
        flex-direction: column;
        text-align: right;
    }

}